---
layout: nil
---
<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <title>Feed Name</title>
    <link>http://domain/</link>
    <atom:link href="http://domain/rss.xml" rel="self" type="application/rss+xml" />
    <description></description>
    <language>en-au</language>
    <pubDate>{{ site.time | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
    <lastBuildDate>{{ site.time | date: "%a, %d %b %Y %H:%M:%S %z" }}</lastBuildDate>

    {% for post in site.posts %}
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <link>http://domain{{ post.url }}</link>
      <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
      <author>Author</author>
      <guid>http://domain{{ post.url }}</guid>
      <description>{{ post.content | xml_escape }}</description>
    </item>
    {% endfor %}

  </channel> 
</rss>