---
layout: nil
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
<channel>
    <title>{{ site.title }} | {{ site.author }}</title>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/rss.xml" rel="self" type="application/rss+xml" />
    <description>Personal blog of {{ site.author }}</description>
    <language>en-us</language>
    <pubDate>{{ site.time | date_to_rfc822 }}</pubDate>
    <lastBuildDate>{{ site.time | date_to_rfc822 }}</lastBuildDate>
    {% for post in site.posts %}
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <pubDate>{{ post.date | date_to_rfc822 }}</pubDate>
      <author>{{ site.contact }} ({{ site.author }})</author>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <description>{{ post.content | xml_escape }}</description>
    </item>
    {% endfor %}
  </channel> 
</rss>
